/*MAIN*/
.wrapper {
  height: auto;
  background-color: var(--offwhite);
  padding-top: 0.25rem;
}
.header {
  font-family: 'Gotham XNarrow', serif;
  font-size: 40px;
  position: absolute;
  top: 1rem;
  left: 8rem;
}
.btn,
.signOutBtn {
  background-color: transparent;
  position: absolute;
  font-family: 'Gotham XNarrow', serif;
  color: #000;
  cursor: pointer;
}
.btn {
  font-size: 18px;
  top: 6rem;
  left: 3.5rem;
  border: 2.5px solid var(--footer-color);
  width: 250px;
  padding: 0.5rem 0;
}
.signOutBtn {
  top: 1rem;
  font-size: 20px;
  right: -1rem;
  width: 150px;
  padding: 0.25rem 0;
}
.container {
  overflow-x: hidden !important;
  background-color: var(--offwhite);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 8.75rem 0 0 3.5rem;
}
.itemDiv {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  padding: 0.25rem 0;
}
.itemHeader {
  margin-top: 0.25rem;
  margin-left: 0;
  font-family: 'Gotham XNarrow', serif;
}
/*TEMPLATE*/
.templateContainer {
  height: 100px;
  width: 100px;
  display: block;
}

/*MEDIA*/
@media screen and (min-width: 1300px) {
  .wrapper {
    height: 100%;
  }
  .header {
    top: 5rem;
    left: 49rem;
  }
  .btn {
    top: 10.5rem;
    left: 45rem;
  }
  .container {
    width: 25%;
    overflow: hidden;
    margin: 15rem 0 0 42.5rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 1014px) {
  .wrapper {
    height: 100vh;
  }
  .btn {
    left: 23.5rem;
  }
  .container {
    width: 45%;
    margin: 12.5rem 0 0 21rem;
  }
  .header {
    left: 28rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 750px) and (max-height: 1024px) {
  .wrapper {
    height: 100%;
  }
  .btn {
    left: 15rem;
  }
  .container {
    width: 55%;
    margin: 10rem 0 0 12rem;
  }
  .header {
    left: 19rem;
  }
}

@media screen and (min-width: 414px) and (max-height: 736px) {
  .container {
    margin-left: 4.95rem;
  }
  .header {
    left: 9rem;
  }
  .btn {
    left: 4.85rem;
  }
  .wrapper {
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 500px) and (min-width: 475px) and (max-height: 786px) and (min-height: 765px) {
  .wrapper {
    height: 100%;
  }
}

@media screen and (max-width: 410px) {
  .wrapper {
    height: 100vh;
    padding-bottom: 7.35rem;
  }
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .wrapper {
    height: 105.75vh;
  }
}
