/*IMAGES*/
.laptopImage {
  background: url('../../assets/images/laptop.png') no-repeat;
  height: 135px;
  width: 235px;
  background-position: center;
}
.tabletImage {
  background: url('../../assets/images/tablet.png') no-repeat;
  background-position: center;
  height: 160px;
  width: 80px;
  margin-top: -1rem;
  margin-left: -3.5rem;
}
.phoneImage {
  background: url('../../assets/images/phone.png') no-repeat;
  background-position: center;
  height: 160px;
  width: 80px;
  margin-top: 2.25rem;
  margin-left: -7.5rem;
}
.imageGroup {
  display: flex;
  margin-left: 3rem;
  margin-top: -6rem;
  margin-bottom: 4rem;
}
.imageHeader {
  color: #222;
  margin: -1rem 1rem 1rem 0;
  font-size: 28px;
  font-family: proxima nova, sans-serif;
}
.inOnePlaceSection {
  display: block;
  text-align: center;
}
.backgroundTabletImage {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url('../../assets/images/background-tab.jpg') no-repeat;
  width: 100%;
  padding: 0 2rem;
  margin-left: -7rem;
  padding-right: 7rem;
  height: 250px;
  margin-bottom: 5rem;
  background-position: center;
}
.inOnePlaceHeader {
  color: #fff;
  font-family: proxima nova, sans-serif;
  font-size: 32px;
  font-weight: 500;
  margin-top: -15rem;
  margin-bottom: 12rem;
}
.subHeader {
  font-size: 19px;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 0;
  font-family: proxima nova, sans-serif;
}
.subText {
  color: #7d8485;
  width: 75%;
  text-align: left;
  font-size: 18px;
  margin: 1em 0 0 3rem;
  font-family: proxima nova, sans-serif;
}

@media screen and (min-width: 1300px) {
  .inOnePlaceHeader {
    font-size: 42px;
  }
  .imageGroup {
    margin-left: 69rem;
    margin-top: -23.5rem;
    position: relative;
    z-index: -1;
    margin-bottom: 9rem;
  }
  .imageHeader {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .subHeader {
    font-size: 19px;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: -26rem;
    font-family: proxima nova, sans-serif;
  }
  .subText {
    color: #7d8485;
    width: 25%;
    font-size: 18px;
    line-height: 1.65;
    margin: 1em 0 0 30rem;
    font-family: proxima nova, sans-serif;
  }
  .inOnePlaceHeader {
    margin-top: -15rem;
    margin-bottom: 8.75rem;
  }
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .imageGroup {
    margin-left: 24.75rem;
  }
  .inOnePlaceHeader {
    margin-top: -15rem;
    margin-bottom: 11rem;
  }
  .subHeader {
    font-size: 19px;
    font-weight: bold;
    margin: 1.5rem 0 2.25rem 4.75rem;
    font-family: proxima nova, sans-serif;
  }
  .subText {
    color: #7d8485;
    width: 55%;
    font-size: 18px;
    line-height: 1.65;
    margin: 1em 0 0 17.5rem;
    font-family: proxima nova, sans-serif;
  }
  .imageHeader {
    display: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 768px) {
  .inOnePlaceHeader {
    margin-top: -15rem;
    margin-left: 2rem;
    margin-bottom: 11rem;
  }
  .imageHeader {
    display: none;
  }
  .imageGroup {
    margin-left: 16rem;
  }
  .subHeader {
    font-size: 19px;
    font-weight: bold;
    margin: 1.5rem 0 2.25rem 2rem;
    font-family: proxima nova, sans-serif;
  }
  .subText {
    color: #7d8485;
    width: 55%;
    font-size: 18px;
    line-height: 1.65;
    margin: 1em 0 0 12.5rem;
    font-family: proxima nova, sans-serif;
  }
}
@media screen and (max-width: 375px) and (min-height: 812px) {
  .inOnePlaceHeader {
    margin-top: -15rem;
    margin-bottom: 10rem;
  }
  .imageHeader {
    display: none;
  }
  .subText {
    width: 85%;
    margin-left: 2rem;
  }
  .imageGroup {
    margin-left: 2.3rem;
  }
}
