.container {
  display: block;
  height: 100%;
  background-color: #7c8ea6;
}
.header {
  font-family: 'Gotham XNarrow', serif;
  font-size: 40px;
  padding: 6rem 0 0 6.25rem;
  color: #fff;
}
.btnDiv {
  margin: 6.5rem 4.15rem;
}
.existingBtn,
.newBtn {
  width: 260px;
  font-family: 'Gotham XNarrow', serif;
  background-color: transparent;
  font-size: 18px;
  text-transform: uppercase;
  border: 1.5px solid #333;
  border-radius: 12px;
  color: #fff;
  padding: 0.85rem 0;
  margin: 0.75rem 0;
  box-shadow: 0 2px 0.75px 1.5px rgba(0, 0, 0.6);
  outline: none;
}
.existingBtn:hover,
.newBtn:hover {
  box-shadow: 1px 0.75px 1.5px rgba(0, 0, 0.6);
}
.existingBtn:active,
.newBtn:active {
  box-shadow: none;
  border: 2.5px solid #000;
}

@media screen and (min-width: 1300px) {
  .btnDiv {
    margin: 15rem 37.5rem;
  }
  .existingBtn,
  .newBtn {
    margin: 2rem;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1050px) and (max-height: 1366px) {
  .header {
    padding-left: 25rem;
  }
  .btnDiv {
    margin: 20rem 22.5rem;
  }
  .existingBtn,
  .newBtn {
    margin: 1rem;
  }
}
@media screen and (max-width: 768px) and (min-height: 1024px) {
  .header {
    padding-left: 17.5rem;
  }
  .btnDiv {
    margin: 15rem;
  }
  .existingBtn,
  .newBtn {
    margin: 1rem;
  }
}
@media screen and (min-width: 405px) and (max-width: 414px) and (min-height: 736px) {
  .header {
    padding: 6rem 0 0 7.5rem;
  }
  .btnDiv {
    margin: 6.5rem 5.5rem;
  }
}
