.hero {
  display: block;
  overflow-x: hidden;
  height: 400px;
  width: 100vw !important;
  margin-top: -3.75rem;
  margin-right: 150px;
  overflow-x: hidden !important;
  padding-top: 18rem !important;
  background: linear-gradient(rgba(232, 232, 232, 0), rgba(0, 0, 0, 0.8)),
    url('../../assets/images/hero.jpg') no-repeat 0 0;
  background-size: cover;
  background-position: top;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  background-attachment: scroll, scroll;
  text-align: center;
}
.header {
  font-size: 64px;
  line-height: 1.25;
  color: white;
  font-weight: 400;
  margin-left: 0.2rem;
  margin-top: 4.5rem;
  font-family: 'proxima nova', sans-serif;
}

.sub {
  font-family: 'proxima nova', sans-serif;
  margin-top: 1rem;
  font-size: 26px;
  margin-bottom: 0.65rem;
  font-weight: 500;
  margin-left: 0.5rem;
  color: white;
}

.btn {
  margin-top: 3.5rem;
  border: 3px solid var(--button-border);
  margin-left: 3.25rem;
  background-color: transparent;
  width: 210px;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  height: 43px;
  font-size: 17px;
  font-family: 'proxima nova', sans-serif;
  font-weight: 400;
  color: #fff;
}

/*MEDIA*/
@media screen and (min-width: 1300px) {
  .hero {
    height: 602px;
    background-position: right;
  }
  .sub {
    width: 100%;
    font-size: 26px;
    margin: 0.35rem 0 0 2rem;
  }
  .header {
    font-size: 98px;
    line-height: 107.8px;
    margin-top: 10rem;
    margin-left: 4rem;
  }
}
@media screen and (max-width: 1024px) and (min-height: 1366px) {
  .btn {
    margin-left: 0.95rem;
  }
}
@media screen and (max-width: 768px) {
  .btn {
    margin-left: 0.35rem;
  }
}
@media screen and (max-width: 414px) {
  .btn {
    margin-left: 0.35rem !important;
  }
}
