.hero {
  display: block;
  height: 356px;
  width: 100%;
  margin-right: 150px;
  margin-bottom: 5rem;
  overflow-x: hidden !important;
  padding-top: 11rem;
  background: linear-gradient(rgba(232, 232, 232, 0), rgba(0, 0, 0, 0.6)),
    url('https://images.unsplash.com/photo-1491185841098-9ce20f966624?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80')
      no-repeat 0 0;
  background-size: cover;
  background-position: top;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  background-attachment: scroll, scroll;
  text-align: center;
}
.header {
  font-size: 64px;
  line-height: 1.25;
  color: white;
  font-weight: 500;
  margin-left: 0.2rem;
  margin-top: 5rem;
  font-family: 'lato', sans-serif;
}

.sub {
  font-family: 'lato', sans-serif;
  margin-top: 1rem;
  font-size: 26px;
  margin-bottom: 0.65rem;
  font-weight: 500;
  margin-left: 1.5rem;
  color: white;
}

/*MEDIA*/
@media screen and (min-width: 1300px) {
  .hero {
    height: 602px;
  }
  .sub {
    width: 100%;
    font-size: 26px;
    margin: 0.35rem 0 0 2rem;
  }
  .header {
    font-size: 98px;
    line-height: 107.8px;
    margin-left: 4rem;
  }
}

/* @media screen and (max-width: 800px)
#home-page .hero-image {
    height: 34em;
    padding-top: 180px; */
