.container {
  margin: 10px 0 1.8rem;
  padding: 0 1rem;
  text-align: center;
}

.header {
  color: #444;
  font-family: proxima nova, sans-serif;
  font-size: 35px;
  line-height: 1.5;
}
.description {
  color: #7d8485;
  line-height: 1.75em;
  margin: 1em 0 1.5em;
  text-align: left;
}

/*MEDIA*/
@media screen and (min-width: 1300px) {
  .container {
    margin-top: 40px;
    text-align: center;
  }
  .description {
    margin-top: 1rem;
    line-height: 2em;
    margin-top: 1.5rem;
    width: 803px;
    font-size: 16.5px;
  }
  .descriptionContainer {
    margin: 0 28%;
    width: 80%;
    margin-bottom: 2.5rem;
    padding: 0 15px;
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 800px) {
  .header {
    margin-top: 2rem;
  }
  .descriptionContainer {
    width: 75%;
  }
  .description {
    margin-left: 33%;
  }
}
@media screen and (max-width: 768px) and (min-width: 700px) {
  .header {
    margin-top: 2rem;
  }
  .descriptionContainer {
    width: 85%;
  }
  .description {
    margin-left: 19%;
  }
}
