.formLink {
  color: #000;
  font-family: 'Gotham XNarrow', sans-serif;
  font-size: 28px;
  position: absolute;
  top: 1rem;
  left: 2rem;
  z-index: 10;
  text-decoration: none;
  cursor: pointer;
}
.formLink:hover {
  color: #6190e8;
}
.container {
  background: var(--offwhite);
  opacity: 0.7;
  background-size: 500% 500%;
  overflow-x: hidden !important;
  transition: background 3s ease;
  background-position: 50% 50%;
  display: flex;
  height: 100vh;
  min-height: 35rem;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.cardBackground {
  height: 500px;
  overflow-x: hidden !important;
  width: 300px;
  left: -5.75rem;
  top: -8.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  display: block;
}
.cardMain {
  height: 350px;
  width: 300px;
  z-index: 22;
  position: absolute;
  left: -2.5rem;
  top: 4rem;
  background-color: rgba(244, 245, 247, 0.3);
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.cardHeader {
  color: #000;
  font-size: 28px;
  font-family: 'Gotham XNarrow', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 1%;
  left: 35%;
  width: 100%;
}
.cardSubHeader {
  color: #f4f5f7;
  opacity: 0.8;
  font-size: 20px;
  font-family: 'Gotham XNarrow', sans-serif;
  font-weight: 600;
  position: absolute;
  top: 8%;
  left: 50%;
  width: 100%;
}
/*MEDIA*/
@media screen and (min-width: 1300px) {
  .cardBackground {
    top: -3%;
    left: 6%;
    width: 800px;
  }
  .cardMain {
    left: 19%;
    width: 460px;
  }
  .cardHeader {
    font-size: 36px;
    left: 42.5%;
  }
  .cardSubHeader {
    display: none;
  }
}
/*IPAD PRO*/
@media screen and (min-width: 1024px) and (max-width: 1100px) and (max-height: 1370px) {
  .cardBackground {
    top: 12.5%;
    left: -13%;
    width: 650px;
  }
  .cardMain {
    left: 10%;
    width: 450px;
  }
  .cardHeader {
    left: 38%;
    font-size: 36px;
  }
  .cardSubHeader {
    display: none;
  }
}
/*IPAD*/
@media screen and (min-width: 768px) and (max-width: 800px) and (max-height: 1024px) {
  .cardBackground {
    top: 0;
    left: -30%;
    width: 600px;
  }
  .cardMain {
    left: 7%;
    width: 450px;
  }
  .cardHeader {
    left: 38%;
    font-size: 36px;
  }
  .cardSubHeader {
    display: none;
  }
}
